<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>CLAT NLTi – Crash Course 2026</title>
  <link rel="stylesheet" href="style.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body class="body">

  <!-- Header / Navigation -->
  <nav class="navbar navbar-expand-lg  ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://www.clatnlti.com/assets/images/logonlti.png" alt="KIDBA"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link "  href="/">Home</a>
        <a class="nav-link" href="/clat">CLAT</a>
        <a class="nav-link" href="/nlsat">NLSAT</a>
        <a  class="nav-link" href="/crash">Crash Course</a>
        <a class="nav-link " href="/blog" >BLOG</a>
        <a class="nav-link" href="#">Contact Us</a>
      </div>
      <div class="navbar-auth">
        <a class="nav-link" href="/sign">SIGN UP</a>
        <a class="nav-link" href="/login">LOG IN</a>
      </div>
    </div>
  </div>
</nav>

  <!-- Hero Section -->
  <section class="hero">
    <h1>National Law</h1>
    <h1>Training Institue</h1>
  </section>

  <!-- Course Highlights -->
  <section id="courses" >
 <h1>Study with us</h1>
 <div id="card">
  <div class="card1" >
      <img src="https://static.vecteezy.com/system/resources/thumbnails/000/439/863/small/Basic_Ui__28186_29.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Student 1</h5>
        <p class="card-text">Success Story how she/he achived this moment</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>

    <div class="card1" >
      <img src="https://static.vecteezy.com/system/resources/thumbnails/000/439/863/small/Basic_Ui__28186_29.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Student 1</h5>
        <p class="card-text">Success Story how she/he achived this moment</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>

    <div class="card1" >
      <img src="https://static.vecteezy.com/system/resources/thumbnails/000/439/863/small/Basic_Ui__28186_29.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Student 1</h5>
        <p class="card-text">Success Story how she/he achived this moment</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>


     <div class="card1" >
      <img src="https://static.vecteezy.com/system/resources/thumbnails/000/439/863/small/Basic_Ui__28186_29.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Student 1</h5>
        <p class="card-text">Success Story how she/he achived this moment</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
 </div>
 </div> 
  </section>

  <!-- Crash Course Section -->
  <section id="crash" >
   <h1>Here's why NLTI is indispensable for your</h1>
   <h1 class="h1">CLAT Preparation!</h1>
   <div id="poster">
    <div class="poster">
      <div class="poster-body">
        <h4 class="poster-title">Run by NLSIU Students Exclusively</h4>
        <p class="poster-text">NLTI is an initiative started by NLSIU Students
           who have cracked CLAT with flying colours.</p>
      </div>
    </div>

    <div class="poster">
      <div class="poster-body">
        <h4 class="poster-title">Unprecedented Selection Ratio</h4>
        <p class="poster-text">NLTI has produced over 100 NLS, NALSAR and
           NLUD Selections and more than 500 selections across NLUs.</p>
      </div>
    </div>

    <div class="poster">
      <div class="poster-body">
        <h4 class="poster-title">Personalised Mentorship by NLSIU Mentors</h4>
        <p class="poster-text">Get 24/7 access to NLSIU Students who will 
          act as your best friend, guide, and mentor.</p>
      </div>
    </div>
   </div>

   <div id="poster">
    <div class="poster">
      <div class="poster-body">
        <h4 class="poster-title">Daily DCS and Weekly Live Doubt Clearing Sessions</h4>
        <p class="poster-text">All your doubts will be solved in real-time via Telegram Chat
           and live concept/strategy sessions will be taken weekly.</p>
      </div>
    </div>

    <div class="poster">
      <div class="poster-body">
        <h4 class="poster-title">Study Buddy Groups</h4>
        <p class="poster-text">You will be put in a group
           of like-minded study buddies to ensure competitiveness 
           and resource sharing among aspirants.</p>
      </div>
    </div>

    <div class="poster">
      <div class="poster-body">
        <h4 class="poster-title">Comprehensive Test Series</h4>
        <p class="poster-text">You will be provided 50 CLAT, 10 AILET,
           10 OLET and 100 Sectional Mocks in our course coupled with personalised time tables and schedules.</p>
      </div>
    </div>
   </div>


  </section>

  <!-- Demo Videos -->
  <section class="Achivement">
    <div class="achive-poster">
      <img src="https://www.clatnlti.com/assets/img/home/home-1.png" alt="">
    </div>
    <div class="achive-detail">
      <h1>Revolutionizing Success: Our Results Speak Louder Than Words</h1>
      <p>NLTI takes immense pride in the extraordinary achievements of its students,
         which stand as a testament to the revolutionary approach we embrace.
          Our results speak volumes about the exceptional quality of 
          mentorship and study material we provide, 
        setting new benchmarks in the realm of CLAT and NLSAT success.</p>
        <p>Our previous batch saw more than 15 NLSIU selections,
           25 NLU-Delhi selections and over 200 selections across NLUs. 
           NLTI broke all records in AILET 2024 when our students clinched 6 
           out of the Top-10 ranks, showcasing not just their academic prowess but also the effectiveness 
           of our holistic approach towards education. Join NLTI and experience
           the difference that quality mentorship and material can make in realizing your dreams!</p>
    </div>
  </section>

  <!-- Testimonials -->
  <section id="testimonials" >
    <div id="test">
    <p>40+</p>
    <p>2K+</p>
    <p>10K+</p>
    <p>500+</p>
    </div>
  </section>


  <!-- courses -->

  <section id="courses">
    <h1>Explore Popular Courses</h1>
    <div id="course-card">
      <div class="card2" >
      <img src="https://clat-uploads.s3.amazonaws.com/course/a7a0faac-d132-46e0-965a-9b4d69d4ccee.png" class="card-img-top" alt="...">
      <div class="course-body">
        <h4 class="course-title">Crack NLSAT 2026:NLSAT Online...</h4>
        <p class="course-text">Join India's Best NLSAT Coaching plus...  Mentorship Program for NLSAT 2026.IN</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>

    <div class="card2" >
      <img src="https://clat-uploads.s3.amazonaws.com/course/0b6820d3-d0af-4682-b897-cc6c1503bd8c.png" class="card-img-top" alt="...">
      <div class="course-body">
        <h4 class="course-title">CLAT 2026 Blueprint: Platinum ...</h4>
        <p class="course-text">  CLAT 2026 Blueprint: Platinum Package
          (Mentorship with Test Series)Achieve you...</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>

     <div class="card2" >
      <img src="https://clat-uploads.s3.amazonaws.com/course/924de89b-e0db-475e-adf8-ca649a73982b.jpeg" class="card-img-top" alt="...">
      <div class="course-body">
        <h4 class="course-title">CLAT 2026 Blueprint: Silver Pa...</h4>
        <p class="course-text">CLAT 2026 Blueprint: Silver PackageYour Ultimate Path to CLAT SuccessPrepare ...</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>

    </div>
  </section>

  <!-- Contact/Inquiry Form -->
  <section id="sec-data" >
    <div class="sec-data">
      <h1>NLTI Students have secured admissions in Top NLUs</h1>
      <div class="icon">
      <img src="https://www.clatnlti.com/assets/img/colleges/images.png" alt="">
      <img src="https://www.clatnlti.com/assets/img/colleges/sQNCGxp5_400x400.jpg" alt="">
      <img src="https://www.clatnlti.com/assets/img/colleges/Nalsar-logo.png" alt="">
      <img src="https://www.clatnlti.com/assets/img/colleges/NUJS-LL-Size.jpg" alt="">

    </div>
    <div class="icons">
      <img src="https://www.clatnlti.com/assets/img/colleges/Nlujodhpur.png" alt="">
      <img src="https://www.clatnlti.com/assets/img/colleges/gnlu-logo.png" alt="">
      <img src="https://www.clatnlti.com/assets/img/colleges/nlu_mum.jpg" alt="">
      <img src="https://www.clatnlti.com/assets/img/colleges/nlu_mum.jpg" alt="">
      <img src="https://www.clatnlti.com/assets/img/colleges/rhnul.png" alt="">
    </div>
    </div>
  </section>

  <footer class="footer">
    <div class="footer-container">
      <!-- Logo & Contact -->
      <div class="footer-section contact">
        <div class="logo">
          <img src="https://www.clatnlti.com/assets/images/logonlti.png" alt="Logo">
        </div>
        <p><i class="fas fa-map-marker-alt"></i> 3256, Sector 44D, Chandigarh 160047</p>
        <p><i class="fas fa-phone-alt"></i> (+91) 9876142144</p>
        <p><i class="fas fa-envelope"></i> clat.nlti@gmail.com</p>
      </div>

      <!-- Quick Links -->
      <div class="footer-section">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Law School Predictor</a></li>
        </ul>
      </div>

      <!-- Information -->
      <div class="footer-section">
        <h3>Information</h3>
        <ul>
          <li><a href="#">Refund Policy</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms And Conditions</a></li>
        </ul>
      </div>

      <!-- Follow Us -->
      <div class="footer-section social">
        <h3>Follow Us</h3>
        <div class="social-icons">
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-telegram-plane"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>© 2023 by National Law Training Institute.</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>


</body>
</html>
